<div class="" style="font-family: 'Jost', sans-serif;">
  {%extends 'base.html'%}
  {%block content%}
  <div class="container-fluid">

      <div class="jumbotron jumbotron-fluid" style="background-image: url('/static/img/5fb55cb448459354334086.jpg'); height: 78vh;">
          <h1 class="text-white text-centre" style="font-size:75px; text-align:center">sic Awwwards</h1>
      </div>
      <h3 style="text-align: center;">Sample Projects for reviews and rating</h3>
      <div class="row">
          {%for proj in projects%}
          <div class="col-md-3">
              <div class="card">
                  <div class="view view-cascade overlay">
                      <img src="{{proj.projectscreenshot.url}}" class="img-fluid" alt="">
                      <a href="projects/{{proj.id}}">
                          <div class="mask rgba-white-slight"></div>
                      </a>
                  </div>
                  <div class="card-body">
                      <h5 class="">{{proj.title}}</h5>
                      <a href="projects/{{proj.id}}">Rate it</a>
                  </div>
              </div>
          </div>
          {%endfor%}
      </div>
  </div>

  {%endblock%}
</div>